body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.header-section {
  width: 1518px;
  height: 750px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./images/donation4.jpg");
}

.header-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-text {
  text-align: center;
}

.header-image h1 {
  font-size: 70px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  font-weight: 600;
}

.header-image p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 50px;
  color: rgb(250, 250, 250);
  padding-top: 20px;

}

.header-image a {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 23px;
  font-size: 18px;
  color: white;
  background-color: #01AADE;
}

/*========= donate-section =======*/

.body-part {
  text-align: center;
  padding: 100px 420px 20px 420px;
}

.body-part h1 {
  font-size: 50px;
}

.body-part p {
  font-size: 20px;
  color: gray;
}

.donate {
  text-align: center;
}

.donate-amount {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
}

.taka {
  margin: 10px;
  padding: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
  font-size: 30px;
  background-color: rgb(249, 243, 243);
}

.usdt {
  margin: 10px;
  padding: 30px;
  border: 2px solid red;
  color: red;
  font-size: 30px;
  border-radius: 7px;
  background-color: rgb(227, 204, 204);
}

.input-text {
  width: 100px;
  padding-left: 620px;
  text-align: center;
}

.input-text input {
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  padding: 20px;
  font-size: 20px;
  text-align: center;

}

.button-text a {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 23px;
  font-size: 18px;
  color: white;
  background-color: #01AADE;
}

.button-text {
  margin: 50px;
  text-align: center;
}

/*==========body-section-end======== */

.donate-plan {
  text-align: center;
  padding: 30px 420px 20px 420px;
}

.donate-plan h1 {
  font-size: 50px;
}

.donate-plan p {
  font-size: 20px;
  color: gray;
}

.donate-service {
  display: flex;
  padding-left: 250px;
  padding-right: 250px;

}

.food-family {
  border: 0px solid;
  border-radius: 5px;
  margin-right: 20px;
  background-color: rgb(212, 245, 233);
  padding: 40px 20px 30px 15px;
}

.shelter-family {
  border: 0px solid;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #edcece;
  padding: 40px 20px 30px 15px;
}

.education-family {
  border: 0px solid;
  border-radius: 5px;
  margin-left: 20px;
  background-color: rgb(232, 232, 181);
  padding: 40px 20px 30px 15px;
}

.education-family h3,
.food-family h3,
.shelter-family h3 {
  font-size: 28px;
}

.education-family p,
.food-family p,
.shelter-family p {
  font-size: 18px;
  color: gray;
}

/* ==============blog part============== */

.blog-section {
  padding: 100px;

}

.blog-part {
  display: flex;
  padding-bottom: 80px;
  padding-right: 0px;
}

.blog-img {
  width: 50%;
  padding-left: 20px;
}

.blog-img img {
  width: 80%;
  height: 450px;
  border-radius: 10px;
}

.blog-text {
  width: 50%;
}

.blog-text h1 {
  font-size: 60px;
}

.blog-text p {
  font-size: 20px;
  color: gray;
}

.blog-text a {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 23px;
  font-size: 20px;
  color: white;
  background-color: #01AADE;
}


.recent-part {
  display: flex;

}

.recent-img {
  width: 50%;

}

.recent-img img {
  width: 80%;
  height: 450px;
  border-radius: 10px;
}

.recent-text {
  width: 50%;
}

.recent-text h1 {
  font-size: 60px;
}

.recent-text p {
  font-size: 20px;
  color: gray;
}

.recent-text a {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 23px;
  font-size: 20px;
  color: white;
  background-color: #01AADE;
}

/* ===========My-update-part=========== */

.my-updates {
  text-align: center;
  padding: 30px 420px 20px 420px;
}

.my-updates h1 {
  font-size: 50px;
}

.my-updates p {
  font-size: 20px;
  color: gray;
}

.subscribe-part {
  text-align: center;
  border: 0px solid red;
  padding: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  background-color: rgb(219, 219, 191);
}

.input-box input {
  background-color: rgb(236, 234, 234);
  border: 0px solid;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  font-size: 15px;
  padding: 10px 50px 10px 20px;
  height: 20px;
  width: 160px;
  color: #CCC;
  margin-right: -5px;
}

.input-box button {
  text-decoration: none;
  outline: none;
  font-size: 15px;
  border: 0px solid;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  padding: 11px 50px 12px 20px;
  ;
  color: white;
  background-color: #01AADE;
}


/* ===========footer============ */


.footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding-top: 40px;
  padding-bottom: 40px;

}

.footer-class {
  font-size: 32px;
  margin: 0px;
}

.red-color {
  color: red;
}

.text-color {
  color: white;
}

.footer p {
  color: rgba(165, 209, 209, 0.9);
  margin: 0px;

}